#
# Created by 弱弱的胖橘猫丷
#

import /vendor/etc/init/hw/init.touch.rc
import /vendor/etc/init/hw/init.camera.rc
import /vendor/etc/init/hw/init.platform.rc
import /vendor/etc/init/hw/init.dmapp.rc
import /vendor/etc/init/hw/init.sensors.rc
import /vendor/etc/init/hw/init.haptic.rc
import /vendor/etc/init/hw/init.fingerprint.rc
import /vendor/etc/init/hw/init.light.rc
import /vendor/etc/init/hw/init.led.rc

# Include init.flowertome.rc
import /vendor/etc/init/hw/init.gesangtome.rc
