# Copyright (c) 2016-2019, nubia. All rights reserved.

# nubia Disable SSR to SoC restart
on property:persist.vendor.ssr.restart_level=1
    write /sys/bus/msm_subsys/devices/subsys0/restart_level system
    write /sys/bus/msm_subsys/devices/subsys1/restart_level system
    write /sys/bus/msm_subsys/devices/subsys2/restart_level system
    write /sys/bus/msm_subsys/devices/subsys3/restart_level system
    write /sys/bus/msm_subsys/devices/subsys4/restart_level system
    write /sys/bus/msm_subsys/devices/subsys5/restart_level system
    write /sys/bus/msm_subsys/devices/subsys6/restart_level system
    write /sys/bus/msm_subsys/devices/subsys7/restart_level system
    write /sys/bus/msm_subsys/devices/subsys8/restart_level system

# Enable SSR
on property:persist.vendor.ssr.restart_level=3
    write /sys/bus/msm_subsys/devices/subsys0/restart_level related
    write /sys/bus/msm_subsys/devices/subsys1/restart_level related
    write /sys/bus/msm_subsys/devices/subsys2/restart_level related
    write /sys/bus/msm_subsys/devices/subsys3/restart_level related
    write /sys/bus/msm_subsys/devices/subsys4/restart_level related
    write /sys/bus/msm_subsys/devices/subsys5/restart_level related
    write /sys/bus/msm_subsys/devices/subsys6/restart_level related
    write /sys/bus/msm_subsys/devices/subsys7/restart_level related
    write /sys/bus/msm_subsys/devices/subsys8/restart_level related

on property:persist.vendor.ap.restart_level=0
    write /sys/module/msm_poweroff/parameters/download_mode 0

on property:persist.vendor.ap.restart_level=1
    write /sys/module/msm_poweroff/parameters/download_mode 1
