# Copyright (c) 2016-2019, nubia. All rights reserved.

# camera daemon
service vl53l1_daemon_main /vendor/bin/vl53l1_daemon_main
    class late_start
    user root
    group root
    socket vl53l1_daemon stream 660 root system
